{% extends "base.html" %}
{% block content %}

  <section class="post-area section-gap ">
    <div class="container">
      <div class="row justify-content-center d-flex">
        <div class="col-lg-10 post-list">

          {% if items %}
            {% for item in items %}
              <div class="single-post d-flex flex-row">
                <div class="thumb">
                  <img src="img/post.png" alt="">
                  <ul class="tags">
                    <li><a href="#">Type</a></li>
                    <li><a href="#">CPC Kind</a></li>
                    <li><a href="#">Group</a></li>
                  </ul>
                </div>

                <div class="details">
                  <div class="title d-flex flex-row justify-content-between">
                    <div class="titles">
                      <a href="single.html"><h4>Sack handling device</h4></a>
                      <h6>A frequency modulated (coherent)</h6>
                    </div>
                    <ul class="btns">
                      <li><a href="#"><span class="lnr lnr-heart"></span></a></li>

{#                      PUT THE ITEM LINK HERE#}
                      <li><a href="http://www.google.com" id="item_id0" class="single-post-link">detail</a></li>
                    </ul>
                  </div>
                  <p>A frequency modulated (coherent) laser detection and ranging system includes a
                    read-out integrated
                    circuit formed with a two-dimensional array of detector elements each including
                    a photosensitive
                    region receiving both return light reflected from a target and light from a
                    local oscillator,
                    and local processing circuitry sampling the output of the photosensitive region
                    four times during
                    each sample period clock cycle to obtain quadrature components. </p>
                  <h5>Inventor: John Kennedy</h5>
                  <p class=""><span class="lnr lnr-map"></span> Date: 2006-04-01 </p>
                  <p class=""><span class="lnr lnr-database"></span> Lawyer </p>
                  <p class=""><span class="lnr lnr-database"></span> Assignee </p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p class="info">0 results found.</p>
          {% endif %}


        </div>
      </div>
    </div>
  </section>

  <div class="row d-flex align-items-center justify-content-center">
  <form action="/more" method="post" id="get-more-items">
{#    <input type="text" name="unused" disabled>#}
    <button type="submit" class="btn btn-info"> SAVE HISTORY | GET REFINED ITEMS</button>
  </form>
  </div>
{% endblock %}

